.home{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto;
  background-image: url("https://d2o57paek0bu8s.cloudfront.net/White+and+Blue+Professional+Modern+Technology+Pitch+Deck+Presentation+(1).png");
  background-size: cover;
  .login{
    &-container{
      width: 90%;
      height: 90%;
      box-sizing: border-box;
      display:flex;
      align-items:center;
      justify-content: space-around;
    }
    &-box{
      background-color: white;
      box-sizing: border-box;
      width: 40%;
      height: 40rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      .login-input{
        box-sizing: border-box;
        border-bottom: 0.1rem solid $color-gray-light;
        background-color: white;
        width: 100%;
        padding-left: 1rem;
        height: 4.5rem;
        font-size: 1.5rem;
      }

    }
    &-title{
      font-weight: 500;
      font-size: 3.5rem;
    }
    &-tab{
      display: flex;
      width: 70%;
      justify-content: space-around;
      align-items: center;
      font-size: 1.5rem;
      color: white;
      height: 4rem;

      &-items{
        &-deactive{
          background-color: $color-black-light;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          
        }
        &-active{
          background-color: $color-blue;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;

        }
      }
    }
    &-tab:hover{
      cursor: pointer;
    }
    &-form{
      width: 70%;
    }
    &-input-box{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

    }
    &-logo{
      display: flex;
      justify-content: center;
      width: 50%;
      &-img{
        width: 70%;
        height: 20rem;
      }
    }
    &-input::placeholder{
      font-size: 1.7rem;
      color: rgb(219, 219, 219);
      font-family: "SCDream";
    }
    &-input:focus {
      border-color: $color-blue; /* 클릭했을 때 변경할 border 색상 */
      outline: none; /* 기본 outline 제거 (선택 사항) */
    }
    &-btn{
      width: 100%;
      height: 5rem;
      background-color: $color-blue;
      border-radius: 0.7rem;
      font-size: 2.5rem;
      font-weight: 600;
      color: $color-white;
    }
    &-checkbox{
      width: 100%;
      box-sizing: border-box;
      display: flex;
      align-self:flex-start;
      align-items: center;
      padding: 1rem 0rem 2rem 0.5rem;
      &-label{
        padding-left: 1rem;
        vertical-align: top;
      }
      &-input{
        appearance: auto;
        margin: 0rem;
      }
    }
    &-text{
      box-sizing: border-box;
      width: 70%;
      display:flex; 
      padding-top: 1rem;
      justify-content:space-between; 
      &-right { 
        display: flex;
        gap: 1rem;
      }
      &-left{
        cursor: pointer;
      }

    }
  }

  @mixin mobile-home{
    .login{
      &-container{
        width: 98%;
        height: 80%;
        flex-direction: column;
        align-items:center;
        gap: 2rem;
      }
      &-logo{
        width: 98%;
      }
      &-form{
        width: 80%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
      }
      &-title{
        font-size: 3rem;
        height: 6rem;
        line-height: 6rem;
      }
      &-box{
        border-radius: 0.7rem;
        width: 90%;
        height: 40rem;
      }
      &-input-box{
        width: 100%;
      }
      &-checkbox{
        padding: 1rem 0rem 2rem 0.5rem;
      }
      &-btn{
        width: 100%;
      }
      &-tab{
        font-size: 1.2rem;
      }
      &-text{
        box-sizing: border-box;
        width:80%;
        display:flex; 
        padding: 1rem 0rem 2rem 0rem;
        justify-content:space-between; 
        &-right { 
          display: flex;
          gap: 1rem;
        }
  
      }
    }
  }
  @include mobile {
    @include mobile-home()

  }
  // @include tablet{
  //   @include mobile-home()
  // }
}
