@font-face {
  src: url("../../assets/font/SCDream1.otf") format("off");
  font-family: "SCDream";
  font-weight: 100;
}
@font-face {
  src: url("../../assets/font/SCDream2.otf") format("off");
  font-family: "SCDream";
  font-weight: 200;
}
@font-face {
  src: url("../../assets/font/SCDream3.otf") format("off");
  font-family: "SCDream";
  font-weight: 300;
}
@font-face {
  src: url("../../assets/font/SCDream4.otf") format("off");
  font-family: "SCDream";
  font-weight: 400;
}
@font-face {
  src: url("../../assets/font/SCDream5.otf") format("off");
  font-family: "SCDream";
  font-weight: 500;
}
@font-face {
  src: url("../../assets/font/SCDream6.otf") format("off");
  font-family: "SCDream";
  font-weight: 600;
}
@font-face {
  src: url("../../assets/font/SCDream7.otf") format("off");
  font-family: "SCDream";
  font-weight: 700;
}
@font-face {
  src: url("../../assets/font/SCDream8.otf") format("off");
  font-family: "SCDream";
  font-weight: 800;
}
@font-face {
  src: url("../../assets/font/SCDream9.otf") format("off");
  font-family: "SCDream";
  font-weight: 900;
}
* {
  font-family: "SCDream";
}