.exam-create{
  background-color: $color-white-light;
  border: 0.1rem solid $color-gray-light;
  box-sizing: border-box;
  padding: 1rem;
  &-title{
    box-sizing: border-box;
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem 0;
  }
  &-subtitle{
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 6rem;
    padding-right: 1rem;
  }
  &-name{
    box-sizing: border-box;
    font-size: 1.5rem;
  }
  &-startTime{
    margin-left: 1rem;
    background-color: $color-white;
  }
  &-testTime{
    width: 5rem;
    margin-left: 1rem;
    background-color: $color-white;
  }
}