$color-white:#FFFFFF;
$color-white-light:#F2F2F2;
$color-blue:#0A6EBD;
$color-gray-light:#BABABA;
$color-black-light:#323232;
$color-black:#111111;
$color-red:#ff0000;
$color-red-light:#FFD6D6;

$breakpoint-mobile: 300px;
$breakpoint-tablet: 700px;
$breakpoint-desktop: 1024px;