@mixin flex($dir:row){
  &-sb{
    &-center{
      display: flex;
      flex-direction: $dir;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-sa{
    &-center{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  &-center{
    &-center{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.flex{
  &-col{
    display: flex;
    flex-direction: column;
    @include flex(column)
  }
  &-row{
    display: flex;
    flex-direction: row;
    @include flex(row)
  }

  &-scrolly{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
  }
  &-scrolly::-webkit-scrollbar{
    display: none;
  }

  &-scrollx{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
  }
  &-scrollx::-webkit-scrollbar{
    display: none;
  }
}