.modal{
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
  &-bg-true{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-bg-false{
    width: 0;
    height: 0;
    overflow: hidden;
  }
  &-btn{
    &-full{
      background-color: $color-blue;
      color:$color-white;
      width: 100%;
      height: 6rem;
      line-height: 6rem;
      border-radius: 1rem;
      font-size: 2.5rem;
      text-align: center;
      font-weight: 900;
    }
    &-half{
      background-color: $color-blue;
      color:$color-white;
      width: 48%;
      height: 6rem;
      line-height: 6rem;
      border-radius: 1rem;
      font-size: 2.5rem;
      text-align: center;
      font-weight: 900;
    }
    &-close{
      position: absolute;
      width: 3rem;
      height: 3rem;
      top: 1rem;
      right: 1rem;
      background-image: url("../../assets/images/Close.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &-content{
    position: relative;
    box-sizing: border-box;
    padding: 5rem 1rem 2rem 1rem;
    height: 90%;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  &-component{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-main{
    flex: 1;
    overflow: hidden;
  }

  &-title{
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    background-color: $color-black-light;
    color: $color-white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
  }
  &-item-deactive{
    background-color: $color-white;
    color: $color-black;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    box-sizing: border-box;
    border: 0.1rem solid $color-gray-light;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 1.5rem;
    font-weight: 900;
  }
  &-item-active{
    width: 100%;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    box-sizing: border-box;
    border: 0.1rem solid $color-gray-light;
    cursor: pointer;
    flex: 0 0 auto;
    background-color: $color-black-light;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 900;
    background-image: url("../../assets/images/check.svg");
    background-repeat: no-repeat;
    background-position: right 1rem top 1.5rem;
  }
}
@include mobile{
  .modal{
    &-content{
      width: 100%;
    }
  }
}
@include tablet {
  .modal{
    &-content{
      width: 90%;
    }
  }
}
@include desktop{
  .modal{
    &-content{
      width: 70rem;
    }
  }
}