.director-home{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-container{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 5rem;
        box-sizing: border-box;
    }
    &-task{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        &-title{
            height: 7rem;
            box-sizing: border-box;
            font-size: 3rem;
            font-weight: 700;
            padding: 1rem 0rem 2rem 0rem;
        }
        &-calendar{
            flex: 1;
        }
    }
    &-todo{
        width: 35%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &-title{
            height: 7rem;
            box-sizing: border-box;
            font-size: 3rem;
            font-weight: 700;
            padding: 1rem 0rem 2rem 0rem;
        }
        &-box{
            width: 100%;
            flex: 1;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 1rem;
            box-sizing: border-box;
            padding: 1rem 2rem;
            gap:1rem;
            &-btn{
                width: 100%;
                height: 5rem;
                background-color: $color-blue;
                color: white;
                font-size: 2rem;
                border-radius: 1rem;
                font-weight: 600;
            }
            &-items{
                width: 100%;
                height: 3rem;
                line-height: 3rem;
                border-bottom: 0.1rem solid $color-gray-light;
                display: flex;
                justify-content: space-between;
            &-text:hover{
                cursor: pointer;
                color: $color-blue;
            }
            &-text{
                width: 70%;
                font-size: 1.5rem;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &-region{
                    width: 25%;
                    font-size: 1.3rem;
                    text-align: end;
                }
                &-none{
                    font-size: 2rem;
                }
            }
            }


        }

    }
    &-notice{
        width: 35%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &-flex{
            height: 7rem;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            padding: 1rem 0rem 2rem 0rem;
            align-items: flex-end;
            &-title{
                font-size: 3rem;
                font-weight: 700;
                text-overflow: ellipsis;
            }
            &-additional{
                font-size: 2rem;
                font-weight: 600;
            }
            &-additional:hover{
                cursor: pointer;
                color: $color-blue;
            }
        }
        &-box{
            width: 100%;
            flex: 1;
            background-color: white;
            display: flex;
            overflow-y: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            box-sizing: border-box;
            padding: 1rem 2rem;
            gap: 1rem;
            &-items{
                width: 100%;
                height: 3rem;
                line-height: 3rem;
                border-bottom: 0.1rem solid $color-gray-light;
                display: flex;
                
                justify-content: space-between;
                box-sizing: border-box;
            &-title{
                width: 65%;
                font-size: 1.5rem;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
            }
            &-title:hover{
                cursor: pointer;
                color: $color-blue;
            }
            &-time{
                width: 35%;
                font-size: 1.1rem;
                text-align: end;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            }
        }
    }
    &-btn-hidden{
        display: none;
    }
}

@include tablet{
    .director-home-todo-box-btn{
        font-size: 1.5rem;
    }
}

@include mobile{
    .director-home{
        overflow-y: hidden;
        padding: 0;
        &-container{
            width: 95%;
            gap:1rem
        }
        &-task{
            width: 100%;
            height: 90%;
            &-title{
                font-size: 2rem;
                padding: 1rem 0 0 0;
                height: 5rem;
            }
        }
        &-btn-hidden{
            display: inline;
            width: 100%;
            height: 4rem;
            background-color: $color-blue;
            color: white;
            font-size: 2rem;
            border-radius: 1rem;
            font-weight: 600;
        }
        &-notice,&-todo{
            display: none;
        }
    }
}