.director-calendar-detail{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    &-tab{
        width: 100%;
        height: 6rem;
        display: flex;
        font-size: 3rem;
        text-align: center;
        line-height: 6rem;
        font-weight: 500;
        &-true{
            width: 50%;
            background-color: $color-blue;
            color: $color-white;

        }
        &-false{
            width: 50%;
            background-color: rgb(208, 208, 208);
            color: rgb(147, 147, 147);
        }
    }
    &-box{
        width: 100%;
        border: 0.1rem solid $color-gray-light;
        flex: 1;
        border-radius: 0.5rem;
        overflow-y: auto;
        &-true-task{
            display: block;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            text-align: center;
            height: 3rem;
            line-height: 3rem;
            font-size: 1.5rem;
            background-color: $color-black-light;
            border-radius: 0.5rem 0.5rem 0 0;
            color: white;
        }
        &-true-request{
            display: block;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
            text-align: center;
            height: 3rem;
            line-height: 3rem;
            font-size: 1.5rem;
            background-color: $color-black-light;
            border-radius: 0.5rem 0.5rem 0 0;
            color: white;
        }
        &-false-task, &-false-request{
            display: none;
        }
        &-task-items{
            font-size: 1.5rem;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            text-align: center;
            padding: 0.5rem 0;
            border-bottom: 0.1rem solid $color-gray-light;
            &-title:hover{
                cursor: pointer;
                color: $color-blue
            }
        }
    }
}