.exam-detail{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    &-aside{
        width: 20%;
        height: 100%;
        background-color: white;
        border-right: 0.1rem solid $color-gray-light;
        display: flex;
        justify-content: center;
        &-box{
            width: 95%;
            padding-top: 2rem;
            display: flex;
            gap: 2rem;
            flex-direction: column;
        }
        &-title{
            font-size: 2.5rem;
            font-weight: 900;
            color: $color-blue;
            &-box{
                font-size: 1.5rem;
                border: 0.1rem solid $color-gray-light;
                border-radius: 0.5rem;
                text-align: center;
                padding: 1rem 0rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                font-weight: 600;
            }
        }
        &-btn{
            background-color: $color-blue;
            font-size: 1.6rem;
            font-weight: 600;
            height: 4rem;
            color: white;
            border-radius: 1rem;

        }
    }

    &-examinees{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-box{
            width: 90%;
            height: 85%;
            background-color: white;
            border-radius: 2rem;
            border: 0.1rem solid $color-gray-light;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-y: auto;
        }
        &-list{
            width: 98%;
            height: 95%;
        }
        &-show{
            display: none;
        }
    }
}
.director-examinees-list{
    &-items{
        width: 100%;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(7,1fr);
        font-size: 2rem;
        height: 3rem;
        line-height: 3rem;
        border-bottom: 0.1rem solid $color-gray-light;
        padding: 0.5rem 0rem;
        &-title:hover{
            cursor: pointer;
            color: $color-blue;
        }
        &-select{
            width: 80%;
            height: 3rem;
            justify-self: center;
            
        }
        &-btn{
            width: 80%;
            height: 3rem;
            background-color: $color-blue;
            border-radius: 0.5rem;
            color: white;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0.2rem 0rem;
            justify-self: center;
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;
            line-height: 2.5rem;
            &-show{
                width: 80%;
                height: 3rem;
                border-radius: 0.5rem;
                color: white;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 0.2rem 0rem;
                justify-self: center;
                box-sizing: border-box;
                flex-direction: column;
                align-items: center;
                line-height: 2.5rem;
                background-color: $color-blue;
            }
            &-hidden{
                width: 80%;
                height: 3rem;
                background-color: $color-gray-light;
                border-radius: 0.5rem;
                color: white;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 0.2rem 0rem;
                justify-self: center;
                box-sizing: border-box;
                flex-direction: column;
                align-items: center;
                line-height: 2.5rem;
                cursor: default;
            }
        }
    }
    &-items:first-child{
        background-color: $color-black-light;
        color: white;
        border-radius: 1rem 1rem 0rem 0rem;
    }
    
    &-mobile{
        display: none;
    }

}

@include tablet{
    .exam-detail{
        &-aside{
            &-title{
                font-size: 2rem;
                &-box{
                    font-size: 1.2rem;
                }
            }
            &-btn{
                font-size: 1.2rem;
                height: 3rem;
                border-radius: 0.5rem;
            }
        }

    }
    .director-examinees-list{
        &-items{
            font-size: 1.5rem;
        }
        &-items:first-child{
            font-size: 1.2rem;
        }
        &-btn{
            height: 3rem;
            font-size: 1.2rem;             
        }
    }
}

@include mobile{
    .exam-detail{
        min-height: 100%;
        overflow-y: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        &-aside{
            width: 100%;
            height: 40rem;
        }
        &-examinees{
            width: 100%;
            height: 50rem;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            &-show{
                display: block;
                font-size: 2rem;
                font-weight: 600;
                color: $color-blue;
                padding: 2rem 1rem;
            }
            &-box{
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 1rem;
            }
        }

    }
    .director-examinees-list{
        height: 100%;
        &-items{
            height: 8rem;
            display: grid;
            padding-top: 1.5rem;
            grid-template-columns: repeat(12,1fr);
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
            'code code code name name name name attendBtn attendBtn time time time'
            'docs docs docs docs compen compen compen compen addDocs addDocs addDocs addDocs';
            &-title:first-child{
                grid-area: code;
                font-size: 1.7rem;
                font-weight: 600;
                padding-left: 1rem;
                padding-top: 0.3rem;
            }
            &-title:nth-child(2){
                grid-area: name;
                font-size: 1.7rem;
                font-weight: 600;
                padding-left: 0.5rem;
                padding-top: 0.3rem;
            }
            &-select{
                width: 99%;
                grid-area: docs;
                font-size: 1.2rem;
            }
            &-btn:nth-of-type(2){
                grid-area: compen;
                border-radius: 0;
                width: 99%;
                font-size: 1.2rem;
            }
            &-btn:nth-of-type(3){
                grid-area: addDocs;
                border-radius: 0;
                font-size: 1.2rem;
                width: 99%;
            }
            &-btn-hidden,
            &-btn-show {
              grid-area: attendBtn;
              height: 2rem;
              align-self: center;
              line-height: 1.5rem;
              font-size: 1rem;
              width: 100%;
            }
            
        }
        &-items:first-child{
            display: none;
        }
     
        &-time{
            grid-area: time;
            font-size: 1.2rem;
            padding-top: 0.3rem;
        }

    }
}
