.director-chat{
  display: flex;
  background-color: $color-white;
  border: 0.1rem solid $color-gray-light;
  border-radius:  0 0 1rem 1rem;
  @include desktop{
    width: 30vw;
    height: 50vh;
  }
  @include tablet{
    width: 100vw;
    height: 50vh;
  }
  @include mobile{
    width: 100vw;
    height: 80vh;
  }
  &-aside{
    width: 30%;
    height: 100%;
    background-color: $color-white-light;
    border: 0.1rem solid $color-gray-light;
    box-sizing: border-box;
    &-menuopen{
      cursor: pointer;
      background-color: $color-black-light;
      color: $color-white;
      background-image: url("../../../assets/images/check.svg");
      background-repeat: no-repeat;
      background-position: top 1.5rem right 1rem;
      width: 100%;
      height: 5rem;
      line-height: 5rem;
      font-weight: 900;
      font-size: 1.5rem;
      text-align: center;
    }
    &-menuclose{
      cursor: pointer;
      width: 100%;
      height: 5rem;
      line-height: 5rem;
      font-weight: 900;
      font-size: 1.5rem;
      text-align: center;
    }
  }
  &-wrap{
    box-sizing: border-box;
    border: 0.1rem solid $color-gray-light;
    width: 70%;
    height: 100%;
  }
}