html,body,#root {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    background-color: $color-white-light;
    color: $color-black;
}
.App{
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
}
main{
    width: 100%;
    padding-top: 5rem;
    flex: 1;
}
.hidden-text{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

input{
    border-radius: 0.5rem;
    border: 0.1rem solid $color-gray-light;
}


@mixin btn(){
    border-radius: 0.5rem;
    background-color: $color-blue;
    color: $color-white;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    font-weight: 900;
}

.btn{
    &-s{
        @include btn();
        width: 10rem;
        height: 4rem;
        font-size: 2rem;
    }
    &-m{
        @include btn();
        width: 100%;
        height: 4rem;
        line-height: 4rem;
        font-size: 2rem;
    }
    &-l{
        @include btn();
        width: 100%;
        height: 6rem;
        line-height: 6rem;
        font-size: 3rem;
    }
    &-xl{
        @include btn();
        width: 100%;
        height: 12rem;
        line-height: 12rem;
        font-size: 4rem;
    }
}

h1{
    font-size: 5rem;
    font-weight: 900;
    white-space: nowrap;
}
h2{
    font-size: 4rem;
    font-weight: 900;
    white-space: nowrap;
}
h3{
    font-size: 3rem;
    font-weight: 900;
    white-space: nowrap;
}
h4{
    font-size: 2rem;
    font-weight: 900;
    white-space: nowrap;
}
h5{
    font-size: 1rem;
    font-weight: 900;
    white-space: nowrap;
}