.manager-calendar-detail{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 2rem;
  gap: 2rem;
  &-title{
    width: 100%;
    height: 5rem;
    background-color: $color-black-light;
    color: $color-white;
    text-align: center;
    line-height: 5rem;
    font-size: 2.5rem;
    font-weight: 900;
  }
  &-box{
    flex: 1;
    box-sizing: border-box;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 2rem;
    flex-wrap: nowrap;
  }
  &-errorreport{
    box-sizing: border-box;
    width: 100%;
    height: 7rem;
    padding-left: 7rem;
    border: 1px solid black;
    background-image: url("../../../assets/images/errorreport.svg");
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
  }
  &-compensation{
    box-sizing: border-box;
    width: 100%;
    height: 7rem;
    padding-left: 7rem;
    border: 1px solid black;
    background-image: url("../../../assets/images/compensation.svg");
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
  }
  &-item{
    &-title{
      font-weight: 900;
      font-size: 2rem;
    }
    &-name{
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}