.manager-exam-list{
  &-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    text-align: center;
    border-bottom: 0.1rem solid $color-gray-light;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  &-item:first-child{
    background-color: $color-black-light;
    color: $color-white;
    font-weight: 900;
    border-radius: 1rem 1rem 0 0;
    cursor: default;
  }
  &-item div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-create{
    @include mobile{
      width: 100%;
      height: 3rem;
      background-color: $color-blue;
      color: $color-white;
      border-radius: 1rem;
      font-size: 1.5rem;
      font-weight: 900;
    }

    @include tablet{
      border-radius: 0.5rem;
      background-color: $color-blue;
      color: $color-white;
      box-sizing: border-box;
      white-space: nowrap;
      text-align: center;
      font-weight: 900;
      width: 10rem;
      height: 4rem;
      font-size: 2rem;
    }

    @include desktop{
      border-radius: 0.5rem;
      background-color: $color-blue;
      color: $color-white;
      box-sizing: border-box;
      white-space: nowrap;
      text-align: center;
      font-weight: 900;
      width: 10rem;
      height: 4rem;
      font-size: 2rem;
    }
  }
  &-search{
    box-sizing: border-box;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    padding-top: 2rem;
  }
}